.FooterContainer{
    background-color: #1F2225;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footerrowmain{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.colmFooter{
    width: 16.66%;
    text-align: start;
}
h5{
    font-size: 1rem;
    color:#A1A2A3;
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 20px;
}
.footerparagraph{
    font-size: .89rem;
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    color: #FBFCFC;
    padding-top: 12px;
    line-height: 27px;
}